.board {
    width: 92vw;
    height: 92vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    padding: 0.5rem;
    border: 1px grey solid;
    border-radius: 5%;
}

/* tablet */
@media only screen and (min-width: 600px) {
    .board {
        width: 75vw;
        height: 75vw;
        padding: 0.8rem;
    }
}

@media only screen and (min-width: 767px) {
    .board {
        width: 60vw;
        height: 60vw;
        padding: 0.8rem;
    }
}

/* desktop */
@media only screen and (min-width: 990px) {
    .board {
        width: 50vw;
        height: 50vw;
        padding: 1.2rem;
        margin: 3rem;
    }
}

@media only screen and (min-width: 1500px) {
    .board {
        width: 40vw;
        height: 40vw;
        padding: 1.2rem;
        margin: 3rem;
    }
}